.custom-page-style
    .theme-container
        position relative
        overflow:hidden
        min-height 100vh

    .navbar
        position: relative
        z-index: 2
        opacity 0.7

    .home
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0
        z-index: 1
        overflow hidden
        box-sizing: border-box
        max-width: 100% !important
        width:100% !important
        height: 100% !important
        margin: 0 !important
        padding: 2rem 0px 0px !important
        background-color: #fff
        background-image: url('/imgs/banner.jpg')
        background-size: cover
        background-position: center center
        #main-title
            display none
        .description
            display: none
        .action
            display: none
            // position absolute
            // left 50%
            // top 50%
            // transform translate(-50%,-50%)

